body {
    color: #2e2f42;
    background-color: #fff;
    font-family: "Raleway", sans-serif;;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.logo {
    font-family: 
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}

.starter-page {
    background-color: #2e2f42;
}